# Environments
.env
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db
